*{
  margin: 0;
  padding: 0;
}

body{
  background: black;
  color: white;
}

input{
  padding: 10px 20px;
  border-radius: 8px;
  border: 2px solid black;
}

button{
  border-radius: 8px;
  padding: 25px 30px;
  background: rgb(223, 223, 6);
  border: none;
  color: white;
  cursor: pointer;
  font-size: 20px;
}

button:hover{
  background: rgb(160, 160, 11);
}

a{
  color: white;
  text-decoration: none;
}

/* Section for Welcome component */
/* Will still add animations to this component */
.Welcome{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.Welcome h1, .Difficulty h1{
  font-weight: bolder;
  font-size: 50px;
}

.Welcome *{
  cursor: pointer;
}

.Welcome h1 span, .Difficulty h1 span{
  color: rgb(223, 223, 6);
}

.Welcome input{
  border-radius: 15px;
  background: rgb(24, 20, 20);
  padding: 20px 30px;
  color: white;
  font-size: 18px;
}

.Welcome input:hover{
  border: 1px solid lightgray;
}

.Welcome button{
  margin-left: -25px;
}

.Welcome .animalImage{
  font-size: 100px;
}

.Welcome .animalImage:hover{
  font-size: 110px;
  transition: 1s;
}

/* selectDifficulty component's section  */
.Difficulty .first{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 100vh;
  align-items: center;
}

.Difficulty .first form{
  min-width: 300px;
  gap: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first form>div{
  font-size: 22px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.Difficulty .second{
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: space-around;
}