*{
  margin: 0;
  padding: 0;
}

body{
  background: rgb(44, 42, 42);
  color: white;
}

input{
  padding: 10px 20px;
  border-radius: 8px;
  border: 2px solid black;
}

button{
  border-radius: 8px;
  padding: 25px 30px;
  background: rgb(160, 160, 11);
  border: none;
  color: white;
  cursor: pointer;
  font-size: 20px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25),
  10px 10px 15px rgba(0, 0, 0, 0.25),
  inset 5px 5px 5px rgba(0, 0, 0, 0.2),
  inset 5px 5px 5px rgba(255, 255, 255, 0.5),
  inset -5px -5px 5px rgba(0, 0, 0, .8);
}

button:hover{
  font-size: 18px;
  transition: .5s;
}

a{
  color: white;
  text-decoration: none;
}

/* Section for Welcome component */
/* Will still add animations to this component */
.Welcome{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.Welcome h1, .Difficulty h1{
  font-weight: bolder;
  font-size: 50px;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
}

.Welcome *{
  cursor: pointer;
}

.Welcome h1 span, .Difficulty h1 span{
  color: rgb(223, 223, 6);
}

.Welcome input{
  border-radius: 15px;
  background: rgb(24, 20, 20);
  padding: 20px 30px;
  color: white;
  font-size: 18px;
}

.Welcome input:hover{
  border: 1px solid lightgray;
}

.Welcome button{
  margin-left: -25px;
}

.Welcome .animalImage, .Difficulty .animalImage{
  font-size: 100px;
  text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6),
  -10px 0px 20px rgba(0, 0, 0, 0.6);
}

.Welcome .animalImage:hover{
  font-size: 110px;
  transition: 1s;
}

.welcome-inner, .difficulty-inner{
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 60vh;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.445),
  -5px 5px 30px rgba(0, 0, 0, 0.363),
  inset -10px -10px 20px rgba(0, 0, 0, 0.493),
  inset -5px -5px 10px rgba(255, 255, 255, 0.267),
  inset 5px 5px 10px rgba(255, 255, 255, 0.267);
  width: 50vw;
  border-radius: 30px;
  padding: 20px 0;
  z-index: 10;
}

.under-emoji{
  font-size: 60px;
  background: rgba(255, 255, 255, 0.404);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.705),
  inset 5px 5px 20px white,
  inset -5px -5px 10px black;
}

.Welcome .first, .Difficulty .first-emoji{
  position: absolute;
  top: 100px;
  right: 21%;
}

.Welcome .second, .Difficulty .second-emoji{
  position: absolute;
  top: 300px;
  left: 21%;
}

.Welcome .third, .Difficulty .third-emoji{
  position: absolute;
  bottom: 100px;
  right: 21%;
}

/* selectDifficulty component's section  */
.Difficulty{
  position: relative;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}

.Difficulty .first{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  gap: 50px;
}

.Difficulty .first form{
  min-width: 300px;
  gap: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first form>div{
  font-size: 22px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.Difficulty .second{
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: space-around;
}

.GameOver-wrapper{
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.GameOver{
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.445),
  -5px 5px 30px rgba(0, 0, 0, 0.363),
  inset -10px -10px 20px rgba(0, 0, 0, 0.493),
  inset -5px -5px 10px rgba(255, 255, 255, 0.267),
  inset 5px 5px 10px rgba(255, 255, 255, 0.267);
  width: 80vw;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 80vh;
  padding: 20px;
}


/* Mobile version */
@media (max-width:760px) {
}